#--------OAuth2.0 Client Configuration---------
scope=Marketplace.Orders:Read
response_type=code
client_id=Se52c45f561134cff8b1e7b84413ff472S
client_secret=S701756fdba7f48b8b846a5dd8d0cc3eeS
access_token=
authentication_server_url=https://api.rakuten.com/Authorization/Authorize?
redirect_uri=https://www.sun.com/marketplaceshipping/completeen
#resource_server_url=http://jeffhoy1.rtp.raleigh.ibm.com:9080/snoop
#------------------------------------------------






















